<!-- history.html -->
   <a href="/">返回首页</a>
<table>
    <tr>
        <th>配置ID</th>
        <th>折扣率</th>
        <th>总价</th>
        <th>产品数量</th>
        <th>创建时间</th>
        <th>操作</th>
    </tr>
    {% for config in configs %}
    <tr>
        <td>{{ config.formatted_id }}</td>
        <td>{{ config.discount }}</td>
        <td>{{ config.total_price }}</td>
        <td>{{ config.items_count }}</td>
        <td>{{ config.created_at }}</td>
        <td><a href="/config/{{ config.formatted_id }}">查看详情</a></td>
    </tr>
    {% endfor %}
</table>